<!DOCTYPE html>
<html>
  <head>
    <title>Ideator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700&family=Open+Sans:wght@300;400;600;700&family=Pacifico&display=swap" rel="stylesheet">
  </head>

  <body class="h-screen">
    <%= render 'shared/nav' %>

    <div class="max-w-screen-xl mx-auto p-1 md:p-4" >
      <%= render 'shared/flash_messages' %>

      <%= yield %>
    </div>

    <footer class="w-full absolute bottom-0">
      <div class="max-w-screen-xl mx-auto p-1 md:p-4 text-center text-neutral-700 dark:text-neutral-200">
        <p>&copy; TECHBRAIN <%= Date.today.year %> All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>
